block header
    header#header.flex
        .container.flex.alignCenter
            .list-menu
                ul.flex
                    li.logo
                        a(href="").image: img(src="./hinh/logo_new.png", alt="")
                    li: a(href="") Bài hát                    
                        ul.dropdown
                            li
                                ul
                                    li: a(href="") <b>Việt Nam</b>
                                    li: a(href="") Nhạc Trẻ
                                    li: a(href="") Trữ Tình
                                    li: a(href="") Remix Việt
                                    li: a(href="") Rap Việt
                                    li: a(href="") Tiền Chiến
                                    li: a(href="") Nhạc Trịnh
                                    li: a(href="") Rock Việt
                                    li: a(href="") Cách Mạng
                            li
                                ul
                                    li: a(href="") <b>Âu Mỹ</b>
                                    li: a(href="") Pop
                                    li: a(href="") Rock
                                    li: a(href="") Electronica/Dance
                                    li: a(href="") R&B/HipHop/Rap
                                    li: a(href="") Blues/Jazz
                                    li: a(href="") Country
                                    li: a(href="") Latin
                                    li: a(href="") Indie
                                    li: a(href="") Âu Mỹ khác
                            li
                                ul 
                                    li: a(href="") <b>Châu Á</b>
                                    li: a(href="") Nhạc Hàn
                                    li: a(href="") nhạc hoa
                                    li: a(href="") nhạc nhật
                                    li: a(href="") nhạc thái
                            li
                                ul
                                    li: a(href="") <b>khác</b>
                                    li: a(href="") thiếu nhi
                                    li: a(href="") không lời
                                    li: a(href="") nhạc phim
                                    li: a(href="") thể loại khác
                    li: a(href="") Playlist                      
                        ul.dropdown
                            li
                                ul
                                    li: a(href="") <b>Việt Nam</b>
                                    li: a(href="") Nhạc Trẻ
                                    li: a(href="") Trữ Tình
                                    li: a(href="") Remix Việt
                                    li: a(href="") Rap Việt
                                    li: a(href="") Tiền Chiến
                                    li: a(href="") Nhạc Trịnh
                                    li: a(href="") Rock Việt
                                    li: a(href="") Cách Mạng
                            li
                                ul
                                    li: a(href="") <b>Âu Mỹ</b>
                                    li: a(href="") Pop
                                    li: a(href="") Rock
                                    li: a(href="") Electronica/Dance
                                    li: a(href="") R&B/HipHop/Rap
                                    li: a(href="") Blues/Jazz
                                    li: a(href="") Country
                                    li: a(href="") Latin
                                    li: a(href="") Indie
                                    li: a(href="") Âu Mỹ khác
                            li
                                ul
                                    li: a(href="") <b>Châu Á</b>
                                    li: a(href="") Nhạc Hàn
                                    li: a(href="") nhạc hoa
                                    li: a(href="") nhạc nhật
                                    li: a(href="") nhạc thái
                            li
                                ul
                                    li: a(href="") <b>khác</b>
                                    li: a(href="") thiếu nhi
                                    li: a(href="") không lời
                                    li: a(href="") nhạc phim
                                    li: a(href="") thể loại khác
                    li: a(href="") tuyển tập                       
                        ul.dropdown
                            li
                                ul
                                    li: a(href="") <b>thể loại</b>
                                    li: a(href="") Nhạc Trẻ
                                    li: a(href="") Trữ Tình
                                    li: a(href="") pop
                                    li: a(href="") nhạc hàn
                                    li: a(href="") nhạc hoa
                                    li: a(href="") soundtrack
                                    li: a(href="") không lời
                            li
                                ul
                                    li: a(href="") <b>tâm trạng</b>
                                    li: a(href="") buồn
                                    li: a(href="") hưng phấn
                                    li: a(href="") nhậy cảm 
                                    li: a(href="") nhớ nhung
                                    li: a(href="") thất tình
                                    li: a(href="") thư giãn
                                    li: a(href="") vui vẻ
                            li
                                ul
                                    li: a(href="") <b>khung cảnh</b>
                                    li: a(href="") cafe
                                    li: a(href="") Bar-Club
                                    li: a(href="") phòng trà
                                    li: a(href="") Tắm-Bơi lội
                                    li: a(href="") tập gym
                                    li: a(href="") lãng mạn
                                    li: a(href="") mưa
                            li
                                ul
                                    li: a(href="") <b>chủ đề</b>
                                    li: a(href="") tình yêu
                                    li: a(href="") top100
                                    li: a(href="") weekend
                                    li: a(href="") chill out
                                    li: a(href="") bất hủ
                                    li: a(href="") song ca
                                    li: a(href="") mashup
                    li: a(href="") video                     
                            ul.dropdown
                                li
                                    ul
                                        li: a(href="") <b>Việt Nam</b>
                                        li: a(href="") Nhạc Trẻ
                                        li: a(href="") Trữ Tình
                                        li: a(href="") Cách Mạng
                                        li: a(href="") Rap Việt
                                        li: a(href="") Rock Việt
                                li
                                    ul
                                        li: a(href="") <b>Âu Mỹ</b>
                                        li: a(href="") Pop
                                        li: a(href="") Rock
                                        li: a(href="") Electronica/Dance
                                        li: a(href="") R&B/HipHop/Rap
                                        li: a(href="") Blues/Jazz
                                        li: a(href="") Country
                                        li: a(href="") Latin
                                        li: a(href="") Indie
                                        li: a(href="") Âu Mỹ khác
                                li
                                    ul
                                        li: a(href="") <b>Châu Á</b>
                                        li: a(href="") Nhạc Hàn
                                        li: a(href="") nhạc hoa
                                        li: a(href="") nhạc nhật
                                        li: a(href="") nhạc thái
                                li
                                    ul
                                        li: a(href="") <b>KARAOKE</b>
                                        li: a(href="") nhạc trẻ
                                        li: a(href="") trữ tình
                                        li: a(href="") remix việt
                                        li: a(href="") thiếu nhi
                                        li: a(href="") âu mỹ
                                        li: a(href="") thể loại khác
                                li
                                    ul
                                        li: a(href="") <b>khác</b>
                                        li: a(href="") clip vui
                                        li: a(href="") hài kịch
                                        li: a(href="") thiếu nhi
                                        li: a(href="") thể loại khác
                                        li: a(href="") giải trí khác
                                        li: a(href="") phim việt nam
                    li: a(href="") BXH                    
                        ul.dropdown
                            li: a(href="") Việt Nam
                            li: a(href="") âu mỹ
                            li: a(href="") hàn quốc
                    li: a(href="") chủ đề                       
                        ul.dropdown
                            li
                                ul
                                    li: a(href="") Nhạc xuân 2019
                                    li: a(href="") tình yêu
                                    li: a(href="") the best of 2018
                                    li: a(href="") bất hủ âu mỹ
                                    li: a(href="") Cover & Mashup
                                    li: a(href="") wedding
                                    li: a(href="") nhạc thiếu nhi
                            li
                                ul
                                    li: a(href="") chill out
                                    li: a(href="") EDM
                                    li: a(href="") nhạc hot
                                    li: a(href="") nhạc hoa lời việt
                                    li: a(href="") Coffee Time
                                    li: a(href="") nhạc phim
                                    li: a(href="") nhạc buồn
                            li
                                ul
                                    li: a(href="") acoustic
                                    li: a(href="") hải ngoại
                                    li: a(href="") Remix việt
                                    li: a(href="") nhạc việt bất hủ
                                    li: a(href="") gym
                                    li: a(href="") bolero
                                    li: a(href="") piano
                    li: a(href="") top100                       
                        ul.dropdown
                            li: a(href="") Việt Nam
                            li: a(href="") âu mỹ
                            li: a(href="") châu á
                            li: a(href="") không lời
                    li: a(href="") Nghệ sĩ
                    li: a(href="").point ...                        
                        ul.dropdown
                            li: a(href="") Sự Kiện - TV
                            li: a(href="") Tin tức âm nhạc
            .list-icons
                ul.flex.alignCenter
                    li: a(href=""): img(src="https://stc-id.nixcdn.com/v11/images/header_new/avartar_none_login.png", alt="")         
                    li: a(href=""): img(src="https://stc-id.nixcdn.com/v11/images/header_new/ic_VIP_new.png", alt="")
                    li: a(href="").Opacity: img(src="https://stc-id.nixcdn.com/v11/images/header_new/ic_head_new_hover.png", alt="")
                    li: a(href="").Opacity: img(src="https://stc-id.nixcdn.com/v11/images/header_new/ic_upload_new_hover.png", alt="")
            .search
                input(type="text" placeholder="Tìm bài hát, video, playlist,ca sĩ")
                a(href="").search-icon 
                    img(src="https://stc-id.nixcdn.com/v11/images/header_new/ic_search_new.png", alt="", srcset="") 