block main
    main#main.container
        .banner 
            .banner-promotion                   
                a(target="_blank" href="")
                    img(src="./hinh/banner.jpg", alt="")
                a(href="").close-banner
                    img(src="https://stc-nas.nixcdn.com/v4/ads/2017/03/28/1490676980999-9jsGuS7R6TCahl.png", alt="")
        .main.flex
            .main-left    
                .Sing-hover
                    .hinhbu                        
                        img(src="./hinh/1553658212253_org.jpg", alt="")
                    ul.products.flex
                        li              
                            img(src="./hinh/1553658212253_145.jpg", alt="")
                        li
                            img(src="./hinh/1553227310482_145.jpg", alt="")
                        li
                            img(src="./hinh/1553689042280_145.jpg", alt="")
                        li
                            img(src="./hinh/1553821714455_145.jpg", alt="")
                        li
                            img(src="./hinh/1553227300783_145.jpg", alt="")
                
            .main-right
                .coming-soon.owl-carousel
                    .item1
                        .item-top
                            img(src="./hinh/itemT1.jpg", alt="")
                        .item-bottom
                            p: a(href="") COMING SOON
                            p: a(href="") Ước Gì
                            p: a(href="") JayKii
                    .item2
                        .item-top
                            img(src="./hinh/itemT1.jpg", alt="")
                        .item-bottom
                            p
                                a(href="") COMING SOON
                            p: a(href="") Tung Tweed i Juli
                            p: a(href="") Claus Hempler
                    .item3
                        .item-top
                            img(src="./hinh/itemT1.jpg", alt="")
                        .item-bottom
                            p
                                a(href="") COMING SOON
                            p: a(href="") Pillow
                            p: a(href="") Rich Edwards
                    .item4
                        .item-top
                            img(src="./hinh/itemT1.jpg", alt="")
                        .item-bottom
                            p
                                a(href="") COMING SOON
                            p: a(href="") Mmh
                            p: a(href="") Joker Bra, Gringo, Brudi030
                    .item5
                        .item-top
                            img(src="./hinh/itemT1.jpg", alt="")
                        .item-bottom
                            p
                                a(href="") COMING SOON
                            p: a(href="") Der Mond Ist Aufgegangen
                            p: a(href="") Quadro Nuevo, Munchner Rundfunkorchester, Elisabeth Fuchs
                    
                    
                .list-tabs
                    ul.flex1
                        li
                            a(href="").active VIET NAM
                        li
                            a(href="") AU MY
                        li
                            a(href="") HAN QUOC
                    .tab-content
                        .tab.vn-tab.active
                            .big-item.flex1
                                img(src="https://avatar-nct.nixcdn.com/mv/2019/03/16/9/b/1/7/1552709988584_536.jpg", alt="")
                                .detail
                                    h2: a(href="") ten bai hat VIET NAM
                                    h4: a(href="") ten ca si VIET NAM
                        .tab.euro-tab
                            .big-item.flex1
                                img(src="https://avatar-nct.nixcdn.com/mv/2019/03/21/d/c/d/c/1553136283581_536.jpg", alt="")
                                .detail
                                    h2: a(href="") ten bai hat AU MY
                                    h4: a(href="") ten ca si AU MY
                        .tab.korea-tab
                            .big-item.flex1
                                img(src="https://avatar-nct.nixcdn.com/mv/2019/03/16/9/b/1/7/1552709988584_536.jpg", alt="")
                                .detail
                                    h2: a(href="") ten bai hat HAN QUOC
                                    h4: a(href="") ten ca si HAN QUOC
